<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>NSUserTrackingUsageDescription</key>
    <string>We use your data to provide and improve our services. By using our services, you agree to our use of data for these purposes.</string>
    <key>NSContactsUsageDescription</key>
    <string>Мы используем контакты для перевода средств.</string>
</dict>
</plist>
